name: Mark commit unreviewed

on:
  push:
    branches: [ main ]

permissions:
  statuses: write

concurrency:
  group: mark-commit-as-pending
  cancel-in-progress: false

jobs:
  unreviewed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: "pending",
              context: "peer-review",
              description: "Awaiting peer review"
            });
